/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-text-color: #DB00FF;
  --color-text-secondary: #000028;
  --shadow-text-color: #FF0070;
  --border-button-hover: #FF007066;
  --border-button-focus: #FF0070;
}