/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-text-color: #DB00FF;
  --color-text-secondary: #000028;
  --shadow-text-color: #FF0070;
  --border-button-hover: #FF007066;
  --border-button-focus: #FF0070;
}

.theme-dark .header__theme-menu-button {
  color: var(--accent-color);
}

.theme-dark .header__theme-menu-button:hover {
  border: 1px solid var(--border-button-hover);
}

.theme-dark .header__theme-menu-button:focus {
  outline: none;
}

.theme-dark .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--border-button-focus);
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.theme-dark .header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.theme-dark .rec-label {
  display: block;
}

.theme-dark .decorated-zone::before,
.theme-dark .decorated-zone::after {
  border-color: var(--accent-color);
}

.theme-dark .header__title {
  color: var(--title-text-color);
  text-shadow: 4px 4px 0 var(--shadow-text-color);
}

.theme-dark .section__title {
  color: var(--accent-color);
}

.theme-dark .footer__title {
  color: var(--title-text-color);
}