/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: none;
  --bg-color: #fff;
  --bg-text-color: #FF8DCB;
  --text-color: #353430;
  --title-text-color: #353430;
}

.rec-label {
  display: none;
}