/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font-family: 'IBM Plex mono', monospace;
  --font-size: 18px;
  --bg-image: none;
  --bg-color: #fff;
  --bg-text-color: #FF8DCB;
  --text-color: #353430;
  --title-text-color: #353430;
}

@media (prefers-color-scheme: light) {
  .theme-auto .rec-label {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-image: url(../images/cover-image-dark.png);
    --bg-color: #000028;
    --bg-text-color: #FF0070;
    --text-color: #F1B2CE;
    --accent-color: #FF0070;
    --title-text-color: #FF0070;
  }
}

